<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sunlight Foundation | Data Directory</title>
    
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/assets/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
    
</head>
<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Sunlight Foundation Data Directory</a>
            <ul class="nav">
              <li class="active"><a href="/">Bulk</a></li>
              <li><a href="http://services.sunlightlabs.com">APIs</a></li>
              
            </ul>
        </div>
      </div>
    </div>


    <div class="container content">
        {{ content }}
    </div>

</body>

</html>